<% if logged_in? %>
    <script>
        window.currentUser = <%= render(
            "api/users/user.json.jbuilder",
            user: current_user
        ).html_safe %>
    </script>
<% end %>

<script type="text/javascript">
    window.connectImgUrl = "<%= image_url("connect.png") %>";
    window.findFriendsImgUrl = "<%= image_url("find_friends.png") %>";
    window.lifeUpdatesImgUrl = "<%= image_url("life_updates.png") %>";
    window.searchImgUrl = "<%= image_url("search.png") %>";
    window.addPhotoImgUrl = "<%= image_url('add_photo.png') %>"
    window.addReactionImgUrl = "<%= image_url('add_reaction.png') %>"
    window.addTagImgUrl = "<%= image_url('add_tag.png') %>"
</script>

<div id='root'></div>